<style>
  @import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&display=swap");
</style>
<!-------------------------------------------------------------------------->

<body>
  <div
    class="bg-inteiro"
    style="
      background-image: url(../assets/img/akfqd7mvcss51.jpg);
      background-repeat: no-repeat;
    "
  >
    <app-nav-bar-cli></app-nav-bar-cli>
    <main>
      <div class="quadrado">
        <h3>Contate-nos</h3>

        <div>
          <li>
            <h1>
              Para melhor resolução de seus problemas, por favor, entre em
              contato conosco a partir das informações abaixo.<br /><br />
              Atenciosamente Equipe Gaming Scroll.
            </h1>
            <ul>
              <a class="textoSuporte" href="contatoGMScroll"
                >contatoGMScroll@gmail.com</a
              >
            </ul>
            <ul>
              <span class="textoSuporte">Telefone: (+55) 4000-3932</span>
            </ul>
            <ul>
              <span class="textoSuporte"
                >Endereço: Avenida Paulista (São Paulo),<br />
                Número 1292, CEP:029-92918.</span
              >
            </ul>
            <h2>Horário de funcionamento: 12:00 às 19:00 (UTC/GMT -03:00).</h2>
          </li>
        </div>
      </div>
    </main>
  </div>
</body>
<app-footer></app-footer>
