<style>
    @import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&display=swap");
</style>
<!-------------------------------------------------------------------------->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <div class="bg-inteiro" style="
        background-image: url(../assets/img/akfqd7mvcss51.jpg);
        background-repeat: no-repeat;
    ">
        <app-nav-bar-cli></app-nav-bar-cli>
        <main>
            <div class="quadrado">

                <h3>Contate-nos</h3>

                <div>
                    <li>
                        <h1>Para melhor resolução de seus problemas, por favor, entre em contato conosco a partir das informações
                            abaixo.<br><br> Atenciosamente Equipe Gaming Scroll.</h1>
                        <ul>
                            <a class="textoSuporte" href="contatoGMScroll">contatoGMScroll@gmail.com</a>

                        </ul>
                        <ul>
                            <span class="textoSuporte">Telefone: (+55) 4000-3932</span>
                        </ul>
                        <ul>
                            <span class="textoSuporte">Endereço: Avenida Henrique Freitas,<br> Número 1292,
                                CEP:029-92918.</span>
                        </ul>
                        <h2>Horário de funcionamento: 12:00 às 19:00 (UTC/GMT -03:00).</h2>
                    </li>
                </div>

            </div>
        </main>



    </div>
</body>
<app-footer></app-footer>

</html>