<style>
    @import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&display=swap");
</style>

<body>
    <div class="bg-inteiro" style="
        background-image: url(../assets/img/akfqd7mvcss51.jpg);
        background-repeat: no-repeat;
      ">
        <app-nav-bar-cli></app-nav-bar-cli>
        <div>
            <div class="caixa borderToda">
                <h3 class="login-texto">Registre-se</h3>
                <input class="placeholders" type="text" placeholder="Nome de Usuário" />
                <input class="placeholders" type="email" placeholder="E-mail" />
                <input class="placeholders" type="password" placeholder="Senha" />
                <input class="placeholders" type="password" placeholder="Confirmar a Senha" />
                <button class="botao-entrar">
                    Registrar
                </button>
            </div>
            <!-- componente pra testar login, tem um botão de logout nele -->
        </div>

        <app-footer></app-footer>
    </div>
</body>