/* fonte */
.grenze {
    font-family: "Grenze Gotisch", cursive;
    font-size: x-large;
  }
  
  /* background */
  .bg-inteiro {
    background-size: cover;
    min-height: 100vh;
    height: 100vh;
    position: relative;
    background-position: center;
    display: block;
    width: 100vw;
  }
  
  /* Hover do texto */
  .text-cor {
    text-decoration: dashed;
    color: #fcf7a5;
  }
  
  ul li .text-cor:hover {
    color: rgb(175, 150, 40);
  }
  
  .text-cor2 {
    text-decoration: dashed;
    color: #fcf7a5;
  }
  
  .text-cor2:hover {
    color: rgb(175, 150, 40);
  }
  
  /* Centro do site */
  
  .siteCentral {
    border: 1px solid black;
  }
  
  .parteCentral {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .siteCentral2 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .mt-7 {
    padding-top: 15vh;
  }
  
  .pb-6 {
    padding-bottom: 6vh;
  }
  
  .endContainer {
    height: 6vh;
    width: 100vw;
  }
  
  .bolc {
    outline-offset: 10px;
  }
  
  /* Logo e Centro do Site 
  ( da pra fazer tudo aqui só que vai ter que usar FlexBox ) 
  ( adiciona a classe flex em tudo no html que for no centro ) */
  
  .flex {
    display: flex;
  }
  
  .logo-nome {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
    justify-content: center;
    align-items: center;
  }
  
  .pergaminho {
    max-width: 300px;
  }