a {
  text-decoration: none;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #8b3c04;
  color: #fef7a2;
  font-size: 50px;
  color: inherit;
  text-decoration: inherit;
}

.grenze {
  font-family: "Grenze Gotisch", cursive;
}

.grenze2 {
  font-family: "Grenze Gotisch", cursive;
}

a:hover,
a:link,
a:visited,
a:focus {
  color: #fef7a2;
}

.botaoHome {
  max-width: 300px;
  width: 300px;
  height: auto;

  position: absolute;
  left: 50%;
  top: 52%;
  transform: translate(-50%, -50%);
  border-radius: 50px;

  background-color: #00000000;
  border: 2px solid #8b3c04;
  color: #fef7a2;

  text-align: center;
}

.botaoHome:hover {
  background-color: #8b3c04b0;
  border: 2px solid #fef7a2;
  transition: 300ms;
}

.botaoHome::before {
  border-radius: 50%;
  transition: transform 1s ease;
  transform: scale(0);
  z-index: -1;
}

.botaoHome::after {
  border-radius: 50%;
  transition: transform 1s ease;
  transform: scale(0);
  z-index: -1;
}

.textoBotaoHome {
  position: relative;
  top: 5px;
  font-size: 50px;
  font-weight: 500;
}

.form {
  background-color: #000000b2;
  max-width: 600px;
  width: 425px;
  max-height: 550px;
  height: 550px;
  padding: 50px;
  position: absolute;
  left: 50%;
  top: 47.5%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
}

.logoCentral {
  position: absolute;
  left: 50%;
  top: 32%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
}

.botaoCentral {
  position: absolute;
  left: 50%;
  top: 72%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
}

.logo-nome {
  margin-left: 0 auto;
  margin-right: 0 auto;
  width: 800px;
  height: 500px;
}

.pergaminho {
  width: 350px;
}
